<mat-sidenav-container class="sidenav-container">
    <!-- Sidebar -->
    <mat-sidenav #sidenav mode="side" class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/home">
          <mat-icon>home</mat-icon> Home
        </a>
        <a mat-list-item routerLink="/view-jobs">
          <mat-icon>work</mat-icon> View Jobs
        </a>
        <a mat-list-item routerLink="/applied-jobs">
          <mat-icon>check_circle</mat-icon> Applied Jobs
        </a>
        <a mat-list-item routerLink="/give-feedback">
          <mat-icon>feedback</mat-icon> Give Feedback
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Main Content -->
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="toggleSidebar()">
          <mat-icon>menu</mat-icon>
        </button>
        <h4>Hello User</h4>
      </mat-toolbar>
  
      <div class="content">
        <p>this is the main content</p>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  