
.container {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.cards{
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

h1{
    text-align: center;
    border: 2px solid black;
}
.card {
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.card-content {
    padding: 15px;
}
.card-content h3 {
    margin: 10px 0 5px;
}
.card-content .info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 10px;
}
.info i {
    color: black;
}
.view-more {
    display: block;
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-top: 1px solid #ddd;
}