<div class="login-container">
<div class=" row">
    <div class="col-md-6 col-sm-6 offset-sm-3">
      <div class="card auth">
        <div class="card-body auth-card">
          <form (submit)="onLogin()" class="row">            
            <div class=" text-center logo col-6">
              <img src="../../../assets/logo.jpg" alt="logo" width="200px" height="200px">
              <p>
                please login to continue <br> your account.
              </p>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="email">Email : </label>
                <input type="text" name="email" class="form-control" placeholder="Example@gmail.com" [(ngModel)]="email">
              </div>
              <div class="form-group">
                <label for="password">Password : </label>
                <input type="password" name="password" class="form-control" placeholder="********" [(ngModel)]="password">
                <div class="text-right forget-pass">
                  <a routerLink="/forget-password">Forget Password ?</a>
                </div>
              </div>
              <div class="text-center" >
                <input type="submit" class="btn btn-my" value="Login" [disabled]="getValue()">
              </div>
              <div class="text-center sign-up">
                Don`t have an account ? <a routerLink="/sign-up">Sign Up</a> here.
              </div>   
            </div>
            
          </form>
                   
        </div>
      </div>
    </div>
  </div> 
  </div>