/* Card Styling */
.card {
    border-radius: 10px;
  }
  
  /* Table */
  .table {
    border-radius: 10px;
    overflow: hidden;
  }
  
  /* Status Colors */
  .text-under-review {
    color: orange;
  }
  
  .text-rejected {
    color: red;
  }
  
  .text-shortlisted {
    color: green;
  }
  
  /* Interview Button */
  .interview-btn {
    padding: 8px 15px;
    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius: 8px;
    font-size: medium;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .interview-btn:hover {
    background-color: #1e7e34;
  }
  
  /* Hover Effect */
  .hover-effect:hover {
    background-color: #d6d8db !important;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  